<h1>Your Cart</h1>

<% @cart.cart_items.each do |item| %>
  <% next unless item.variant.present? || item.product.present? %>
  <div>
    <p><%= item.product_name %></p>
    <% if item.variant.present? %>
      <p><%= item.variant.size %>, <%= item.variant.grind %></p>
    <% end %>
    <p>Quantity: <%= item.quantity %></p>
    <p>Price: <%= item.price %></p>
    <p><%= button_to "Remove", cart_item_path(item), method: :delete %></p>
  </div>
<% end %>

<h2>Total: <%= @cart.total %></h2>
