<div data-controller="variants">
  <h3><%= link_to "Back", products_path %></h3>
  <h1><%= @product.name %></h1>
  <p><%= @product.description %></p>

  <% if @product.variants.any? %>
    <div data-variants-target="variants" data-variants="<%= @product.variants.to_json(only: [:id, :size, :grind, :price]) %>">
      <div>
        <label for="size">Size</label>
        <select id="size" data-action="change->variants#updatePrice">
          <% @product.variants.map(&:size).uniq.each do |size| %>
            <option value="<%= size %>"><%= size.humanize %></option>
          <% end %>
        </select>
      </div>

      <div>
        <label for="grind">Grind</label>
        <select id="grind" data-action="change->variants#updatePrice">
          <% @product.variants.map(&:grind).uniq.each do |grind| %>
            <option value="<%= grind %>"><%= grind.humanize %></option>
          <% end %>
        </select>
      </div>
    </div>

    <p>Price: <span data-variants-target="price"></span></p>

    <%= form_with url: cart_items_path do |form| %>
      <%= form.hidden_field :variant_id, data: { "variants-target": "variantId" } %>
      <%= form.submit "Add to cart" %>
    <% end %>
  <% else %>
    <p>Price: <%= number_to_currency(@product.price) %></p>

    <%= form_with url: cart_items_path do |form| %>
      <%= form.hidden_field :product_id, value: @product.id %>
      <%= form.submit "Add to cart" %>
    <% end %>
  <% end %>

  <p><%= link_to "Edit", edit_product_path(@product) %></p>
  <p><%= link_to "Delete", product_path(@product), data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" } %></p>
</div>

